__pycache__/
*.pyc

.DS_Store
.vscode/
.idea/

# Docs
docs/CHANGELOG.md
docs/CONTRIBUTING.md
build/

# QGIS-Plugin-CI
plugins.xml
veloroutes_voies_vertes.*.zip

export_database_structure_to_SQL_mac.sh

*.gpkg-shm
*.gpkg-wal
